// Colors
$blue:    #0058A0;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #DF2935;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #0BB26C;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// Grays Tones
// stylelint-disable
$white:    #fff !default;
$gray-100: #fcfcfc;
$gray-200: #e9ecef !default;
$gray-300: #dbdbdb !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212922;
$black:    #000 !default;

// Main Colors
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $gray-100;
$body-color:                $gray-900 !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-heading:         'Source Sans Pro', sans-serif;
$font-family-sans-serif:      'Sintony', "Helvetica Neue", Arial, sans-serif;
$font-family-monospace:       "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif;

// Weights
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-semi-bold:        600;
$font-weight-bold:            700 !default;

// Heading
$headings-font-family:        $font-family-heading;

// Navs

$nav-link-padding-y:                .2rem;
$nav-link-padding-x:                1rem !default;
