.svg-fluid {
  height: auto;
  max-height: 100%;
  width: 100%;
}

.svg-size-md {
  $svg-size-md: 3.75rem; // 60px

  height: $svg-size-md;
  max-height: 100%;
  width: $svg-size-md;
}

@mixin svg-color($name, $color) {
  .svg-#{$name} use {
    fill: $color;
  }
}

@include svg-color('green', $green);